{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Name</title>

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <script defer src="{% static 'js/project.js' %}"></script>

</head>
<body>

    <div class="topnav">
        <a href="">Home</a>
        <a href="username"> Profile </a>
        <a href="recipies"> Recipies</a>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>