[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-django = "*"
django-coverage-plugin = "*"

[packages]
asgiref = "==3.3.1"
pytz = "==2020.5"
sqlparse = "==0.4.1"
Django = "==3.1.5"
django-extensions = "==3.1.3"
python-dateutil = "==2.8.1"
django-crispy-forms = "==1.11.2"
iniconfig = "==1.1.1"
Pillow = "==8.2.0"
fontawesome-free = "==5.15.3"
crispy-bootstrap5 = "==0.3.1"
gunicorn = "==20.1.0"
whitenoise = "==5.2.0"
dj-database-url = "==0.5.0"
six = "==1.16.0"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
