{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>Project fridge</h1>
    <!-- <link rel="stylesheet" type="text/css"
     href="css/project.css"> -->
    <h5>Select the ingredients in your fridge, and chose from selected
        recipes based on your preferences</h5> 
    <img src="{%static 'images/pexels-cottonbro-4068317.jpg' %}" width="900" height="1000" >  

    <button class = "button Login", onclick = "append_url('login')" > Login </button>
    
    <button class = "button Ingredients", onclick="append_url('ingredients')"> Ingredients </button>

    <script>
        function append_url(new_url){

            var curr_page = window.location.href;
            
            var new_page = curr_page + new_url;

            window.location.assign(new_page);
        }
    </script>
    
{% endblock %}


