{% extends "base.html" %}
{% load static %}

{% block css %} <link href="{% static 'css/ingredients.css' %}" rel="stylesheet"> {% endblock css %} 

{% block content %}
    <div class="main-container">
        <div class="left-sidebar">
            <div class="nav-item">
                <a class="nav-link" href="{% url 'Delete-all' %}">Delete All</a>
                <a class="nav-link" href="{% url 'home' %}">A-z</a>
            </div>

            <form action="" method="post">{% csrf_token %}
                <input type="text" name="name" id="name" placeholder="Add ingredients">
            </form>

            <div>
                {% for object in food_list %}
                    <p>{{ object.name }}</p>
                    <button type="submit">Delete</button><br>
                {% endfor %} 
            </div>
        </div>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.get_username }}</p>
        {% endif %}
    </div>   
{% endblock content %}