{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingredients</title>

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link href="{% static 'css/ingredients.css' %}" rel="stylesheet">
    <!-- <script defer src="{% static 'js/project.js' %}"></script> -->
</head>
<body>
    <h1>My ingredients</h1>

    {% block ingredients-box %}
    {% endblock %}

    {% block ingredients-options %}
    {% endblock %}


    {% block ingredients-list %}
    {% endblock %}
    
</body>
</html>