{% extends "base.html" %}
{% load static %}

{% block css %} <link href="{% static 'css/ingredients.css' %}" rel="stylesheet"> {% endblock css %} 

{% block content %}
    <div class="main-container">
        <div class="left-sidebar">
            <div class="nav-item">
                <form action="" method="post">
                    {% csrf_token %}
                    <button name="remove_items" value="RemoveAll" type="submit">Remove All</button>
                </form>
                <a class="nav-link" href="{% url 'home' %}">A-z</a>
            </div>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <form action="" method="post"> 
                {% csrf_token %}
                <input type="text" name="add_items" id="scientific_name" placeholder="Add ingredients">
            </form>

            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                $( function() {
                  $( "#scientific_name" ).autocomplete({
                    source: '{% url 'autocomplete' %}' 
                  });
                } );
            </script>

            <div>
                {% for object in objects %}

                    <form action="" method="post">
                        {% csrf_token %}
                        <p>{{ object.scientific_name }}</p>
                        <button name="remove_items" type="submit" value={{ object.fd_id }}>Remove</button>
                    </form>
                {% endfor %} 
            </div>
        </div>

        <div class="left-sidebar2">
            <div class="nav-item">
                <b>Recipes</b>
            </div>
            
            <div>
                {% for object in recipes %}
                    <p>{{ object }}</p>
                {% endfor %} 
            </div>

        </div>
    </div>   
{% endblock content %}
