{% extends "base.html" %}
{% load static %}

{% block css %} <link href="{% static 'css/ingredients.css' %}" rel="stylesheet"> {% endblock css %} 

{% block content %}

    <div class="main-container">
        <div class="left-sidebar">
            <div class="nav-item">
                <a class="nav-link" href="{% url 'delete-all' %}">Delete All</a>
                <a class="nav-link" href="{% url 'home' %}">A-z</a>
            </div>

            <form method="post">{% csrf_token %}
                <input type="hidden" name="add-item">
                <input type="text" name="name" id="{{ object.py_id }}" placeholder="Add ingredients">
            </form>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div>
                {% for object in food_list %}
                    <p>{{ object.name }}</p>
                    <form action="" method="post">{% csrf_token %}
                        <input type="hidden" name="name" value="{{ object.py_id }}">
                        <input type="submit" name="delete-item" value="Delete">
                    </form>


                {% endfor %} 
            </div>
        </div>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.get_username }}</p>
        {% endif %}
    </div>   
{% endblock content %}