{% extends "base.html" %}

{% block content %}

<!--css_add is used to change the form css-->
{%load css_add%}

{% block css %} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
{% endblock css %} 


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="columns is-centered">
    <div class="column is-one-fifth mt-6">
      <div class="field">
        <label class="label">Username</label>

          {{form.username|addcss:"input"}}          

      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-one-fifth">
      <div class="field">
        <label class="label">Password</label>
            {{form.password|addcss:"input"}}
      </div>
    </div>
  </div>

  <div class="columns is-centered has-text-centered">
    <div class="column is-one-fifth mb-5">
      <button class="button is-warning" type="submit" id="submit_login" value="login">Login</button>
    </div>
  </div>

<input type="hidden" name="next" value="{{ next }}">

</form>

{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %}