{% extends "base.html" %}
{% load static %}

{% block css %} <link href="{% static 'css/ingredients.css' %}" rel="stylesheet"> {% endblock css %} 

{% block content %}
<h1>These are the additional recipes you can make after buying everything in your shopping list.</h1>
<div class="main-container">
    <div class="left-sidebar">

        <div class="nav-item">
            <form action="" method="post">
                {% csrf_token %}
                <button name="mark_as_bought" value="mark_all" type="submit">Mark all as bought</button>
            </form>
            <form action="" method="post">
                {% csrf_token %}
                <button name="remove_items" value="RemoveAll" type="submit">Remove All</button>
            </form>
        </div>


        <p>Shopping list:</p>

        <div>
            {% for item in shopping_list %}
                <p>{{ item.0.scientific_name }}</p>
                <p>{{ item.1.qty }}</p>
                <form action="" method="post"> 
                    {% csrf_token %}
                    <input type="hidden" name="adjust_qty_food" value={{ item.1.id }} />
                    <input name="adjust_qty" id="number" type="number" value={{ item.1.qty }}>
                </form>

                <form action="" method="post">
                    {% csrf_token %}
                    <button name="mark_as_bought" type="submit" value={{ item.1.id }}>Mark as bought</button>
                </form>

                <form action="" method="post">
                    {% csrf_token %}
                    <button name="remove_items" type="submit" value={{ item.1.id }}>Remove from shopping list</button>
                </form>


            {% endfor %} 
        </div>
    </div>

    <div class="left-sidebar2">
        <div class="nav-item">
            <b>Recipes</b>
            {% for recipe in recipes %}
                <p>{{ recipe.name }}</p>
            {% endfor %} 
        </div>
        
    </div>
</div>  


{% endblock content %}