{% extends "base.html" %}

<!--css_add is used to change the form css-->
{%load css_add%}

{% block css %} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
{% endblock css %} 


{% block content %}
  <div class="columns is-centered">
    <div class="column is-half has-text-centered mt-6">
      <h5 class="title is-5 has-text-grey-light">Sign up for Fridge Friend</h5>

    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    

    <div class="columns is-centered">
      <div class="column is-one-fifth">
        <div class="field">
          <label class="label">Username</label>

          <!--
            {% if form.username.errors %}
              <p>username error</p>
            {% endif %}

          -->
            <div id="signup_username">{{form.username|addcss:"input"}} </div>
            {% if form.password2.errors %}
            
            <p>password error</p>
              
              {% if form.username.errors %}
                <p>username error</p>

              {% endif %}

                {{form.username|addcss:"input is-primary"}}

            {% endif %}

        </div>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-one-fifth">
        <div class="field">
          <label class="label">Password</label>
          
          {{form.password1|addcss:"input"}}
          
          <div class="content is-small">
            {{form.password1.help_text}}
          </div>

        </div>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-one-fifth">
        <div class="field">
          <label class="label">Confirm password</label>
            {{form.password2|addcss:"input"}}
        </div>
      </div>
    </div>

    <div class="columns is-centered has-text-centered">
      <div class="column is-one-fifth mb-5">
        <button class="button is-warning" type="submit" id = "submit_signup">Sign up</button>
      </div>
    </div>

  </form>
{% endblock %}