:root {
    --header-color-bg: #24292E;
    --header-color-text: white;
}

body {
    margin: 0;
	font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 16px;
    color: var(--header-color-text);
    background-color: var(--header-color-bg);
}

.header-item {
    margin-right: 16px;
}

.header-item--full {
    flex: auto;
}

.header-link {
    font-weight: 600;
    text-decoration: none;
    color: var(--header-color-text);
}

.mr-20 {
    margin-right: 20px;
}