{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for object in recipes_list %}
        <p>{{ object.name }}</p>
        <p>{{ object.description }}</p>
        <p>{{ object.rating }}</p>
        <p>{{ object.prep_time }}</p>
        <p>{{ object.instruction }}</p>
        <p>{{ object.servings }}</p>
        <a href="{% url 'recipes:detail' object.id %}">
            <img src="{{ object.image.url }}" alt="{{ object.name }}">
        </a>
        <p>{{ object.link }}</p>
        {% for object in object.ingredients.all %}
            <p>{{ object.amount }} {{ object.unit }} {{ object.food.name }}</p>
        {% endfor %} 
        <p>{{ object.data_created }}</p>
        <br>
    {% endfor %} 
{% endblock %}